<div class="row bl-col-scroll">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title" i18n="@@customerOrderListTitle">
					Orders
				</h5>
			</div>
			<ul class="list-group list-group-flush" *ngIf="wait">
				<li class="list-group-item list-group-item-warning text-center">
					<fa-icon icon="circle-notch" spin="true"></fa-icon>
				</li>
			</ul>
			<ul class="list-group list-group-flush" *ngIf="!wait">
				<li
					class="list-group-item list-group-item-secondary"
					i18n="@@customerOrderListNoOrdersFound"
					*ngIf="customerOrders.length <= 0"
				>
					No orders found on customer
				</li>
				<li
					class="list-group-item list-group-item-action"
					*ngFor="let customerOrder of customerOrders"
					(click)="onCustomerOrderDetailClick(customerOrder.id)"
				>
					<div
						class="row mt-2 mb-2 justify-content-between text-secondary"
					>
						<div class="col-auto">
							<small
								><fa-icon
									[icon]="'clock'"
									class="ml-2 mr-1"
								></fa-icon>
								{{ customerOrder.creationTime | blDate }}</small
							>
						</div>
						<div class="col-auto">
							<small
								><fa-icon
									[icon]="'qrcode'"
									class="mr-1"
								></fa-icon>
								{{ customerOrder.id }}</small
							>
						</div>
					</div>

					<app-order-item-detail-list
						[orderBranchId]="customerOrder.branch"
						[orderItems]="customerOrder.orderItems"
						class="mt-2"
					></app-order-item-detail-list>
				</li>
			</ul>
		</div>
	</div>
</div>
