<div class="container-fluid mt-2">
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="row">
				<div class="col">
					<app-customer-detail-card
						[wait]="wait"
						[customerDetail]="customerDetail"
					></app-customer-detail-card>
				</div>
			</div>
		</div>
		<div class="col-lg-5 col-md-6 col-sm-12">
			<app-customer-order-list></app-customer-order-list>
		</div>
		<div class="col-lg-4">
			<app-customer-item-list
				[title]="'Customer Items'"
			></app-customer-item-list>
		</div>
	</div>
</div>
