<div class="row justify-content-between align-items-center" *ngIf="item">
	<div class="col-auto">
		<div class="d-flex align-items-center">
			<span class="badge badge-info mr-2"
				><fa-icon [icon]="'user'"></fa-icon
			></span>
			<span>{{ item.title }}</span>
		</div>
	</div>
</div>

<div class="row mt-2 align-items-center" *ngIf="customerItem">
	<div class="col-auto text-secondary">
		<small>
			<span *ngIf="customerItem.type === 'partly-payment'">
				<fa-icon [icon]="'money-bill-alt'" class="mr-1"></fa-icon>
				<span i18n="@@customerItemListItemPartlyPayment"
					>partly payment</span
				>
				<fa-icon [icon]="'arrow-right'" class="mr-1 ml-1"></fa-icon>
				<span
					[ngClass]="{ 'bg-danger text-white p-1': deadlineExpired }"
				>
					<fa-icon
						[icon]="'exclamation-triangle'"
						data-toggle="tooltip"
						data-placement="top"
						i18n-title="customerItemListItemDeadlineExpiredTooltip"
						title="Deadline expired!"
						class="mr-2 text-warning"
						*ngIf="deadlineExpired"
					></fa-icon>
					<fa-icon [icon]="'clock'" class="mr-1"></fa-icon>
					{{ customerItem.deadline | blDate }}
				</span>
			</span>

			<span
				class="ml-2"
				*ngIf="customerItem && customerItem.type === 'partly-payment'"
			>
				<span>
					<fa-icon [icon]="'money-bill-alt'" class="mr-1"></fa-icon>
					<fa-icon [icon]="'calendar'" class="mr-1"></fa-icon>
				</span>

				{{ amountLeftToPayBuyout | blcPrice }}
			</span>

			<span *ngIf="customerItem.type === 'rent'"
				><fa-icon [icon]="'calendar'" class="mr-1"></fa-icon>
				<span i18n="@@customerItemListItemRent">rent</span>
				<fa-icon [icon]="'arrow-right'" class="mr-1 ml-1"></fa-icon>
				<span
					[ngClass]="{ 'bg-danger text-white p-1': deadlineExpired }"
				>
					<fa-icon [icon]="'clock'" class="mr-1"></fa-icon>
					{{ customerItem.deadline | blDate }}
				</span>
			</span>
		</small>
	</div>
	<div class="col-auto text-success ml-1" *ngIf="customerItem.match">
		<fa-icon [icon]="'user-friends'"></fa-icon>
	</div>
</div>

<div class="row justify-content-between align-item-center mt-2">
	<div class="col-auto">
		<small>
			<app-blc-blid
				[blid]="customerItem.blid"
				*ngIf="customerItem.blid"
			></app-blc-blid>
			<span
				class="badge badge-pill badge-secondary bl-text-xs mr-2"
				*ngIf="!customerItem.blid"
				>ISBN: {{ item.info.isbn }}</span
			>
		</small>
	</div>
	<div class="col-6">
		<app-blc-item-add
			[item]="item"
			[customerItem]="customerItem"
		></app-blc-item-add>
	</div>
</div>
