<div class="row" *ngIf="order">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h6 class="card-title" i18n="@@orderItemListTitle">Items</h6>
			</div>
			<div class="card-body" *ngIf="warningText">
				<app-bl-common-alert
					[type]="'warning'"
					*ngIf="warningText"
					i18n-text="@@orderItemListNoItemsAttachedError"
					text="There was no items attached to order"
					(exit)="warningText = null"
				></app-bl-common-alert>
			</div>
			<app-order-item-detail-list
				[orderBranchId]="order.branch"
				[orderItems]="order.orderItems"
				(shouldDelete)="onDeleteOrderItem($event)"
			></app-order-item-detail-list>
			<div class="card-footer">
				<div class="row justify-content-end">
					<div class="col-auto">{{ order.amount | blcPrice }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
